* {
    padding: 0%;
    margin: 0%;
}

/* Container takes full screen */
.game-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: rgba(52, 52, 124, 0.185);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Video fills the background */
.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.a {
    background: linear-gradient(to bottom, rgba(174, 0, 255, 0.568), rgb(0, 110, 255));
    border-radius: 20px;
    width: 35%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.a img {
    border-radius: 10px;
}

/* Responsive for tablets */
@media (max-width: 1024px) {
    .a {
        width: 60%;
        height: 75%;
    }
    
}

/* Responsive for mobile devices */
@media (max-width: 600px) {
    .a {
        width: 90%;
        height: 70%;
        padding: 10px;
    }

    .a img {
        width: 100%;
        height: auto;
    }
    
}
